<div class="col-lg-9">
    <div class="row">
        <div class="loginmodal-container pt-3">
            <div class="loginmodal-container-2">
            <center><p style="color: #000;">
              <strong>Name:</strong>
              <%= @training.name %>
            </p>
            </center>
            
            <center><%= link_to 'Edit', edit_training_path(@training),class:"btn btn-primary" %>
            <%= link_to 'Back', trainings_path, class:"btn btn-primary" %></center>
          </div>
        </div>
    </div>
</div> 
</div>
