<div class="col-lg-9">
   <div class="row">
      <div class="loginmodal-container">
         <div class="loginmodal-container-2 pt-3">
            <p>
               <strong>Name:</strong>
               <%= @skill.name %>
            </p>
            <p>
               <strong>Description:</strong>
               <%= @skill.description %>
            </p>
            <center><%= link_to 'Edit', edit_skill_path(@skill),class:"btn btn-primary" %> |
            <%= link_to 'Back', skills_path,class:"btn btn-primary" %></center>
         </div>
      </div>
   </div>
</div>