<div class="container">
    <div class="row">
        <div class="loginmodal-container">
            <div class="loginmodal-container-2">
                <h1>Edit Department</h1>
                
                <%= render 'form', department: @department %>
                
                </center><%= link_to 'Show', @department, class:"btn btn-primary" %>
                <%= link_to 'Back', departments_path, class:"btn btn-primary" %></center>
            </div>
        </div>
    </div>
</div>        
