<div class="container">
    <div class="row">
        <div class="loginmodal-container">
            <div class="loginmodal-container-2">
                <h1>New Shift</h1>
                
                <%= render 'form', shift: @shift %>
                
                <center><%= link_to 'Back', shifts_path %></center>
            </div>
		</div> 
    </div>
</div>
