<div class="container">
    <div class="row">
        <div class="loginmodal-container">
            <div class="loginmodal-container-2">
                <h1>New Shift</h1>
                
                <%= render 'form'%>
                
                <center><%= link_to 'Back', dashboard_path %></center>
            </div>
        </div>
    </div>
</div>    
