<div class="container">
    <div class="row">
        <div class="loginmodal-container">
            <div class="loginmodal-container-2">
                <h1>New Company</h1>
                
                <%= render 'form', company: @company %>
                
                <center><%= link_to 'Back', companies_path %></center>
            </div>
        </div>
    </div>
</div>    
