/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require fullcalendar
 */
 input[type="checkbox"], input[type="radio"]{
     margin:0 8px;
 }
 input[type="checkbox"] > label, input[type="radio"] > label{
     vertical-align: middle;
 }
.white-bg{
 background: #fff !important;
}
.shift_date select{
 width:32% !important;
 display: inline-block !important;
}
.label_shift_date, .label_shift_time{
 width: 100% !important;
}
.shift_time select{
 width:48% !important;
 display: inline-block !important;
}
.training-form input, .training-form select{
     width: 24% !important;
    display: inline-block !important;
    height: 40px !important;
}
.dateclass {
    width: 100%;
}

.dateclass.placeholderclass::before {
 color: grey;
    width: 100%;
    margin-left: 0.5em;
  content: attr(placeholder);
}

.dateclass.placeholderclass:active::before {
 
  width: 0%;
  content: "";
}

.border-top {
 border-top-width: 10px;
 border-top-color: #A8216A !important;
 border-style: solid none none none;
}

