<div class="container">
    <div class="row">
	    <div class="loginmodal-container">
			<div class="loginmodal-container-2">
                <h1>New Location</h1>

                <%= render 'form', location: @location %>
                
                <center><%= link_to 'Back', locations_path %></center>
            </div>
        </div>
    </div>
</div>    
