<footer id="footer" class="color color-primary">
    <div class="footer-copyright">
    	<div class="container">
    		<div class="row">
    			
    			<div class="col-lg-8">
    				<p>Lambano People © Copyright 2018. All Rights Reserved.</p>
    			</div>
    			<div class="col-lg-4">
    				<nav id="sub-menu">
    					<ul>
    						<li><a href="#">FAQ's</a></li>
    						<li><a href="#">Sitemap</a></li>
    						<li><a href="#">Contact</a></li>
    					</ul>
    				</nav>
    			</div>
    		</div>
    	</div>
    </div>
</footer>